<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<security>
		<requestFiltering allowDoubleEscaping="false" allowHighBitCharacters="false">
			<requestLimits maxAllowedContentLength="30000000" maxUrl="4096" maxQueryString="2048" />
		</requestFiltering>
	</security>
        <directoryBrowse enabled="false" />
        <httpErrors errorMode="DetailedLocalOnly" />
        <httpProtocol>
            <customHeaders>
                <remove name="Strict-Transport-Security" />
                <add name="Strict-Transport-Security" value="8" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.web>
	<httpCookies httpOnlyCookies="true" requireSSL="true" />
	<compilation debug="false" />
        <authentication>
            <forms cookieless="UseCookies" requireSSL="true" />
        </authentication>
        <customErrors mode="On" />
        <sessionState cookieless="UseCookies" compressionEnabled="false" />
    </system.web>
</configuration>
